NEXT_PUBLIC_SUPABASE_URL=https://lvibcdluwhihfykedvtk.supabase.co

NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx2aWJjZGx1d2hpaGZ5a2VkdnRrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEzNDU2MzMsImV4cCI6MjA5NjkyMTYzM30.5nF5S35tSjGlk1ZAnI0yTDm4FXd03RM1eFvzi5R6xP0

SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx2aWJjZGx1d2hpaGZ5a2VkdnRrIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTM0NTYzMywiZXhwIjoyMDk2OTIxNjMzfQ.IKo41LC3cuWSbFF7_6mbjNffBlvV7-37a2YjK7P51BI

LIVEKIT_URL=wss://voice-chat-platform-3idxwr86.livekit.cloud
LIVEKIT_API_KEY=APIoYxKMATugQb3
LIVEKIT_API_SECRET=dmtc7DWn9cMQew7cqgXgedtZzPSVQJD9oUbfOFp92RAA